.container-nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    height: 100%;
    
    box-sizing: border-box;
    padding: 16px;
    border-radius: 15px !important;
    
    justify-content: space-between;
    
    /* white */
    background: #FAFAFC;
}

.button-expander {
    display: flex;
    flex: 1;
    
    cursor: pointer;

    position: absolute;
    right: -10px;
    bottom: 100px;

    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;

    /* white */
    background: #FAFAFC;
    /* shadow-container */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

    align-items: center;
    justify-content: center;
}

.container-buttons {
    flex: 1;
    flex-direction: column;
    max-height: 390px;
}

.container-buttons img {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 8px 0;
    max-height: 25px;
}

.button {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0 16px;
    margin: 8px 0;
    border-radius: 20px;
    
    align-items: center;
    justify-content: space-evenly;
    
    color: #44475A;
    min-height: 40px;
    
    background: transparent;
    transition: linear 0.2s;
}

.button div {
    width: max-content;
    height: max-content;
    font-size: 14px;
    transition: linear 0.1s;
}

.button:hover div {
    font-weight: 500;
}

.button-active {
    transition: all linear 0.1s;
    background: linear-gradient(262.96deg, #3417E6 0%, #009DF5 94.51%);
    color: #FAFAFC;
}

.container-singout {
    max-height: 56px;
}