.container-checkbox {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-checkbox input {
    width: fit-content;
    -webkit-appearance: checkbox !important;
    box-sizing: border-box;
}

.container-checkbox label {
    margin: 0 ;
    margin-left: 16px;
}