.container-storage .started, .container-storage .reference,
.container-storage .roll, .container-storage .type,
.container-storage .width-grid,.container-storage .metric-unid,
.container-storage .review {
    max-width: 70px;
}

.container-storage .description {
    flex: 2 !important;
}

.container-storage .actions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-storage .actions button {
    margin: 0 4px;
    max-width: fit-content;
    transition: linear 0.2s;
    cursor: pointer;
}

.container-storage .actions button:hover {
    color: #009DF5;
}