.container-storage .started, .container-storage .reference,
.container-storage .roll, .container-storage .type,
.container-storage .width-grid,.container-storage .metric-unid,
.container-storage .review {
    max-width: 70px;
}

.contant-body .container-search{
    flex: 1;
    flex-direction: row;
    margin-bottom: 20px;
    height: fit-content;
    max-height: fit-content;
}

.container-storage .description {
    flex: 2 !important;
}