.container-link-button {
    color: #009DF5;
    transition: linear 0.2s;
    justify-content: center;
}

.container-link-button .contant {
    max-width: fit-content;
    max-height: fit-content;
    align-items: center;
    margin: auto;
}

.container-link-button:hover {
    color: #EB5757;
    text-decoration: none;
}