.container-image {
    display: flex;
    margin: 8px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    position: relative;

    background-position: center !important;
}

.button-image {
    position: absolute;
    bottom: 0px;
    background: #fafafccc;
    width: 100%;
    padding: 15px;
    backdrop-filter: blur(8px);
    border-radius: 0 0 8px 8px;
}

.button-image .btn-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.button-image .btn-link:hover {
    transition: linear 0.2s;
    color: #009DF5;
}

.btn {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn .float-text {
    visibility: hidden;
    width: fit-content;
    padding: 4px 10px;
    background-color: #44475ade;
    color: #FAFAFC;
    text-align: center;
    border-radius: 6px;
    opacity: 0;

    /* Position the tooltip */
    position: absolute;
    top: -30px;
    z-index: 1;

    transition: linear 0.2s;
}

.btn:hover .float-text {
    visibility: visible;
    opacity: 1;
    color: #FAFAFC;
}

.btn .float-text:hover {
    visibility: hidden;
    opacity: 0;
}

.btn-play :hover, .btn-pause :hover {
    transition: linear 0.2s;
    color : #009DF5;
    cursor: pointer;
}

.btn-finish :hover {
    transition: linear 0.2s;
    color : #A7F500;
    cursor: pointer
}

.btn-cancel :hover {
    transition: linear 0.2s;
    color : tomato;
    cursor: pointer
}